.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-top: 2rem;
}

.back_to_top {
  font-size: var(--size-large);
  font-weight: 600;
  font-family: "Karla";
  margin-top: 5rem;
  text-align: end;
}

.back_to_top:hover .arrow_up {
  transform: translateY(-5px);
}

.back_to_top a {
  text-decoration: none;
  color: var(--clr-dark);
}

.arrow_up {
  padding-left: 0.5rem;
  transition: all ease-in-out 0.3s;
}

/* extra small screens */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* small screens */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* medium screens */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* large screens */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .section {
    margin-top: 4rem;
  }
}

/* extra large screens */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl screens */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* extra small screens */
/* @media (min-width: 475px) {} */

/* small screens */
/* @media (min-width: 640px) {} */

/* medium screens */
/* @media (min-width: 768px) {} */

/* large screens */
/* @media (min-width: 1024px) {} */

/* extra large screens */
/* @media (min-width: 1280px) {} */

/* 2xl screens */
/* @media (min-width: 1536px) {} */
