.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-top: 2rem;
}

.back_to_top {
  font-size: var(--size-large);
  font-weight: 600;
  font-family: "Karla";
  margin-top: 10rem;
  text-align: end;
}

.back_to_top:hover .arrow_up {
  transform: translateY(-5px);
}

.back_to_top a {
  text-decoration: none;
  color: var(--clr-light);
}

.arrow_up {
  padding-left: 0.5rem;
  transition: all ease-in-out 0.3s;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.5s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.loading {
  filter: blur(40px) grayscale(100%);
}

.loaded {
  filter: blur(0) grayscale(0);
  transition: 0.7s ease-in-out;
}

.flex_container {
  display: flex;
  padding-bottom: 3rem;
}

.flex_container:last-child {
  padding-bottom: 0;
}

.flex-c-1 {
  flex: 1;
}

.flex-c-2 {
  flex: 2;
}

/* extra small screens */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* small screens */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* medium screens */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* large screens */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .section {
    margin-top: 4rem;
  }
}

/* extra large screens */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl screens */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* extra small screens */
/* @media (min-width: 475px) {} */

/* small screens */
/* @media (min-width: 640px) {} */

/* medium screens */
/* @media (min-width: 768px) {} */

/* large screens */
/* @media (min-width: 1024px) {} */

/* extra large screens */
/* @media (min-width: 1280px) {} */

/* 2xl screens */
/* @media (min-width: 1536px) {} */
