.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.works-main_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_works {
  width: 45rem;
  padding-top: 10rem;
  padding-left: 42px;
  padding-right: 42px;
}

.section {
  margin-top: 2rem;
}

.loading {
  filter: blur(10px) grayscale(100%);
}

.loaded {
  filter: blur(0) grayscale(0);
  transition: 0.5s ease-in-out;
}

/* WORK SHOWCASE */
.title {
  padding-bottom: 1rem;
  font-size: var(--size-1xl);
  font-weight: 600;
  font-family: "Karla";
}

.sub {
  padding-bottom: 1rem;
  font-size: var(--size-large);
  font-weight: 600;
  font-family: "Karla";
}

.desc {
  font-size: var(--size-base);
  color: var(--clr-gray);
}

.highlight {
  padding-bottom: 1rem;
  color: var(--clr-gray);
}

.showcase_img {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  align-items: center;
}

.showcase_img > img {
  border-radius: 10px;
  border: 1px solid rgb(61, 61, 61);
}

.caption {
  padding-top: 1rem;
  color: var(--clr-gray);
  text-align: center;
}

.divider {
  padding-top: 2rem;
}

.work_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.work_header > a {
  padding-right: 1rem;
}

.back_to_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.back_to_top > a {
  padding-left: 1rem;
}

.line {
  border: 1px solid #282828;
  width: 100%;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.8s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* extra small screens */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* small screens */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* medium screens */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* large screens */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .section {
    margin-top: 4rem;
  }
}

/* extra large screens */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl screens */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* extra small screens */
/* @media (min-width: 475px) {} */

/* small screens */
/* @media (min-width: 640px) {} */

/* medium screens */
/* @media (min-width: 768px) {} */

/* large screens */
/* @media (min-width: 1024px) {} */

/* extra large screens */
/* @media (min-width: 1280px) {} */

/* 2xl screens */
/* @media (min-width: 1536px) {} */
