.about {
  /* border: 1px solid red; */
}

.about-me_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: start;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.about_title {
  font-weight: 600;
  font-size: 1.9rem;
  font-family: "Karla", serif;
  margin-bottom: 2rem;
}

.about-me_description {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: var(--clr-gray);
}

/* <--- Media Queries ---> */

/* extra small screens */
/* @media (min-width: 475px) {} */

/* small screens */
/* @media (min-width: 640px) {} */

/* medium screens */
/* @media (min-width: 768px) {} */

/* large screens */
@media (min-width: 1024px) {
  .content {
    text-align: start;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

/* extra large screens */
/* @media (min-width: 1280px) {} */

/* 2xl screens */
/* @media (min-width: 1536px) {} */
