/* .certifications {
  margin-top: 10rem;
} */

.about-cert_title {
  font-family: "Karla";
  font-size: var(--size-1xl);
  font-weight: 600;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
}

.cert_container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.cert {
  padding-top: 0.8rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-bottom: 0.8rem;
  border-radius: 15px;
  transition: all ease-in-out 0.4s;
  background-color: var(--clr-d-gray);
}

.cert:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.cert_title {
  font-weight: 600;
  font-family: "Karla", serif;
  color: var(--clr-light);
}

.cert_date {
  color: var(--clr-gray);
}

.cert_link {
  text-decoration: none;
  color: var(--clr-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* extra small screens */
/* @media (min-width: 475px) {} */

/* small screens */
@media (min-width: 640px) {
  .cert_container {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
  .cert_container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .about-cert_title {
    padding-left: 3rem;
  }
}

/* medium screens */
@media (min-width: 768px) {
  .cert_container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .about-cert_title {
    padding-left: 5rem;
  }
}

/* large screens */
@media (min-width: 1024px) {
  .cert_container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .about-cert_title {
    padding-left: 10rem;
  }
}

/* extra large screens */
/* @media (min-width: 1280px) {} */

/* 2xl screens */
/* @media (min-width: 1536px) {} */
