.footer {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-icons_container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  margin-bottom: 0.5rem;
}

.footer-icons_container li {
  list-style: none;
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
  background-color: var(--clr-light);
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.footer-icons_container li:hover {
  transform: translateY(-5px);
}

.footer_icons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--clr-dark);
  font-size: var(--size-large);
}

.copyright {
  font-size: var(--size-base);
  color: var(--clr-gray);
}

.symbol {
  font-size: 1.5rem;
}
