.hero {
  height: calc(100dvh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_content {
  padding-left: 5rem;
  padding-right: 5rem;
}

.hero_name {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.hero_prnc {
  font-size: var(--size-base);
  padding-bottom: 1rem;
  color: var(--clr-gray);
}

.hero_desc {
  font-size: var(--size-base);
  color: var(--clr-gray);
}

/* extra small screens */
@media (min-width: 475px) {
}

/* small screens */
@media (min-width: 640px) {
  .hero_content {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

/* medium screens */
@media (min-width: 768px) {
  .hero_content {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

/* large screens */
@media (min-width: 1024px) {
  .hero_content {
    padding-left: 15rem;
    padding-right: 15rem;
  }

  .hero_prnc {
    font-size: 1.1rem;
  }

  .hero_desc {
    font-size: 1.1rem;
  }
}

/* extra large screens */
@media (min-width: 1280px) {
  .hero_content {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  .hero_prnc {
    font-size: 1.3rem;
  }

  .hero_desc {
    font-size: 1.3rem;
  }
}

/* 2xl screens */
@media (min-width: 1536px) {
  .hero_content {
    padding-left: 25rem;
    padding-right: 25rem;
  }

  .hero_prnc {
    font-size: 1.3rem;
  }

  .hero_desc {
    font-size: 1.3rem;
  }
}

/* Animations */

.hero_name,
.hero_prnc,
.hero_desc {
  opacity: 0;
  transform: translateY(20px);
  animation: moveUp 0.6s ease forwards;
}

.hero_name {
  animation-delay: 0.3s;
}

.hero_prnc {
  animation-delay: 0.6s;
}

.hero_desc {
  animation-delay: 0.9s;
}

@keyframes moveUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
