.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 10rem);
}

.hero_content {
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
}

.hero_description {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.4);
  font-family: "Karla";
}

.hero_pronunciation {
  color: var(--clr-gray);
  font-family: "Inconsolata", monospace;
}

/* <--- Start of Animation ---> */

.hero_content p {
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 1s ease-out forwards;
}

.hero_content p:nth-child(1) {
  animation-delay: 0.3s;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* <--- End of Animation ---> */

/* extra small screens */
/* @media (min-width: 475px) {} */

/* small screens */
/* @media (min-width: 640px) {} */

/* medium screens */
@media (min-width: 768px) {
  .hero_content {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .hero_description {
    font-size: 2rem;
  }
}

/* large screens */
@media (min-width: 1024px) {
  .hero_content {
    padding-left: 15rem;
    padding-right: 15rem;
  }
  .hero_description {
    font-size: 2rem;
  }
}

/* extra large screens */
@media (min-width: 1280px) {
  .hero_content {
    padding-left: 15rem;
    padding-right: 15rem;
  }
  .hero_description {
    font-size: 3rem;
  }
}

/* 2xl screens */
@media (min-width: 1536px) {
  .hero_content {
    padding-left: 15rem;
    padding-right: 15rem;
  }
  .hero_description {
    font-size: 4rem;
  }
}
