.pawhub_pages {
  padding-left: 10rem;
  padding-right: 10rem;
}

.pawhub_title {
  font-family: "Karla";
  font-weight: 600;
  font-size: var(--size-1xl);
  padding-bottom: 3rem;
  padding-top: 10rem;
}

.pawhub_sub {
  font-family: "Karla";
  font-weight: 600;
  font-size: var(--size-large);
}

.pawhub_desc {
  font-size: var(--size-large);
  color: var(--clr-gray);
}

.text_container {
  padding-left: 10rem;
  padding-right: 10rem;
}

.pawhub-details_container {
  display: flex;
  justify-content: space-between;
}

.pawhub-details_container > div > .pawhub_sub {
  padding-bottom: 0.5rem;
}

.pawhub-details_container > div > ul {
  padding: 0;
}

.pawhub-details_container > div > ul > li {
  list-style: none;
}

.problem_container > ul {
  padding: 0;
}

.problem_container > ul > li {
  list-style: none;
  background-color: #282828;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.problem_container > ul > li:first-child {
  margin-top: 1rem;
}

.problem_container > ul > li:last-child {
  margin-bottom: 0;
}

.emphasis {
  background-color: #282828;
  border-radius: 1rem;
  padding: 1.5rem;
}
