.works_container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding-top: 2rem;
}

.works_img {
  border-radius: 15px;
  transition: all ease-in-out 0.4s;
  background-color: var(--clr-d-gray);
}

.image_container {
  cursor: pointer;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  transition: transform 0.4s ease-in-out;
}

.image_container:hover {
  transform: scale(1.05);
  transition: transform 0.6 s ease-in-out;
}

.image {
  border-radius: 15px;
}

.works-desc_container {
  margin: auto;
  width: 100%;
  padding-top: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
}

.works_title {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Karla", serif;
  margin-bottom: 0.02rem;
}

.works_sub-title {
  font-family: "Karla", serif;
  color: var(--clr-light);
  font-size: var(--size-base);
}

.works_desc {
  margin-top: 1rem;
  font-size: var(--size-base);
  color: var(--clr-gray);
}

.works_role {
  margin-top: 1rem;
  font-size: var(--size-base);
  color: var(--clr-light);
  font-weight: 500;
}

.works_role > ul {
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

.works_role > ul > li {
  background-color: var(--clr-dark);
  list-style: none;
  border-radius: 8px;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.5rem;
  font-size: var(--size-base);
}

/* <--- Media Queries ---> */

/* extra small screens */
/* @media (min-width: 475px) {} */

/* small screens */
@media (min-width: 640px) {
  .works_container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

/* medium screens */
@media (min-width: 768px) {
  .works_container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

/* large screens */
@media (min-width: 1024px) {
  .works_container {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

/* extra large screens */
/* @media (min-width: 1280px) {} */

/* 2xl screens */
/* @media (min-width: 1536px) {} */
