.works_container {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
}

.works_img {
  position: relative;
}

.image {
  border-radius: 5px;
  cursor: pointer;
}

.works-desc_container {
  margin: auto;
  width: 25rem;
}

.works_title {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Karla", serif;
}

.works_desc {
  margin-top: 1rem;
  font-size: var(--size-base);
  color: var(--clr-dark-gray);
}

.works_role {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: var(--size-base);
  color: var(--clr-gray);
}

/* extra small screens */
/* @media (min-width: 475px) {} */

/* small screens */
@media (min-width: 640px) {
  .works_container {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

/* medium screens */
/* @media (min-width: 768px) {} */

/* large screens */
/* @media (min-width: 1024px) {} */

/* extra large screens */
/* @media (min-width: 1280px) {} */

/* 2xl screens */
/* @media (min-width: 1536px) {} */
